{% extends 'modelo.html' %}
<br>
{% block conteudo %}
<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
  <a class="navbar-brand" href="#">Sobre</a>
  <ul class="nav nav-pills">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" style="background-color: #2a494d;" data-bs-toggle="dropdown"
        href="#" role="button" aria-expanded="true">Dropdown</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#1">História</a></li>
        <li><a class="dropdown-item" href="#2">Missões e Visões</a></li>
        <li><a class="dropdown-item" href="#3">Valores</a></li>
      </ul>
    </li>
  </ul>
</nav>

<div class="rodar">
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
    data-bs-smooth-scroll="false" class="scrollspy-example bg-body-tertiary p-3 rounded-2 text-left fs-5" tabindex="0">
    <h4 id="1"><strong>A história sobre a YouTech</strong></h4>
    <p class="texto">Era uma vez, em uma cidade dinâmica e inovadora, a empresa Youtech estava prestes a embarcar em uma
      jornada emocionante. Fundada por um grupo de visionários apaixonados por tecnologia, a Youtech tinha uma visão
      clara: transformar o mundo dos negócios por meio de soluções tecnológicas inovadoras.
      <br>

      A história da Youtech começou em um pequeno escritório, onde um grupo de mentes brilhantes se reunia para discutir
      ideias revolucionárias. A empresa nasceu da crença de que a tecnologia poderia ser a força motriz por trás da
      evolução empresarial. Com essa convicção, a equipe dedicou-se a criar soluções que não apenas atendessem às
      necessidades do presente, mas antecipassem as demandas do futuro.
      <br>

      Os primeiros dias da Youtech foram desafiadores, mas a paixão e a determinação da equipe foram combustíveis
      poderosos. Desenvolvendo softwares inovadores, aplicativos intuitivos e sistemas inteligentes, a Youtech
      rapidamente começou a atrair a atenção do mercado. Seus produtos eram elogiados por sua eficiência e por sua
      capacidade de simplificar processos complexos.
      <br>
      À medida que a reputação da Youtech crescia, também crescia sua equipe. Pessoas talentosas de diversas áreas se
      juntaram à empresa, cada uma contribuindo com sua expertise única. A cultura da Youtech era caracterizada pela
      colaboração, criatividade e um ambiente que incentivava o aprendizado contínuo.
      <br>
      Com o tempo, a Youtech expandiu suas operações para além das fronteiras da cidade natal. Seus escritórios agora
      estavam presentes em várias partes do mundo, conectando mentes brilhantes de diferentes culturas e origens. A
      empresa tornou-se um farol de inovação, atraindo clientes de todos os setores que buscavam soluções tecnológicas
      de ponta.
      <br>
      Mas a Youtech não era apenas uma empresa focada nos negócios. Comprometida com a responsabilidade social, a
      empresa lançou iniciativas para capacitar comunidades carentes por meio da tecnologia. Programas de educação,
      acesso à internet e parcerias com organizações sem fins lucrativos fizeram parte do compromisso da Youtech em
      fazer a diferença no mundo.
      <br>
      À medida que os anos passavam, a Youtech continuava a evoluir, sempre à frente das últimas tendências
      tecnológicas. A empresa nunca perdeu de vista sua missão de capacitar as empresas a alcançar seu pleno potencial
      por meio da inovação. A história da Youtech era uma história de sucesso, determinação e impacto positivo, uma
      história que continuava a ser escrita a cada novo projeto, parceria e conquista.
    </p>

    <br>
    <br>
    <h4 id="2" class="coisa"><strong>Quais suas missões e visões</strong></h4>
    <br>
    <h5 class="terra"><strong><i>Missão</i></strong></h5>
    <p class="texto ">Na essência da Youtech reside uma missão intrínseca: capacitar empresas a prosperar e inovar por
      meio de soluções tecnológicas avançadas. Estamos empenhados em oferecer ferramentas e plataformas que transcendem
      as expectativas, impulsionando a eficiência operacional, fomentando o crescimento sustentável e promovendo a
      transformação digital. Ao alinhar nossa experiência tecnológica com as necessidades dinâmicas do mercado, buscamos
      ser catalisadores de mudanças positivas e duradouras em todas as indústrias.</p>
    <br>
    <h5 class="terra"><strong><i>Visão</i></strong></h5>
    <p class="texto">Antecipar o futuro e liderar a vanguarda da inovação é o cerne da visão da Youtech. Visualizamos um
      mundo onde as barreiras tecnológicas são superadas, onde a eficiência é aprimorada e onde as empresas têm as
      ferramentas necessárias para alcançar novos patamares de sucesso. Queremos ser reconhecidos como arquitetos de
      soluções que transcendem os limites convencionais, criando um ecossistema global onde a tecnologia é uma força
      positiva, capacitando empresas e comunidades a prosperar em um futuro cada vez mais interconectado.</p>
    <br>
    <br>
    <br>
    <h4 id="3"><strong>Quais seus valores</strong></h4>
    <p strong><em>A YouTech se baseia em valores sólidos:</em></strong>
    </p>
    <p class="texto">

      <strong><em>Inovação Constante: </em></strong>Começamos a mudança e a inovação como a espinha dorsal de nossa
      cultura, buscando continuamente novas maneiras de agregar valor e superar desafios.
      <br>
      <strong><em>Colaboração Global: </em></strong> Valorizamos a diversidade de ideias e perspectivas, acreditando que
      a colaboração global é a chave para enfrentar os desafios mais complexos.
      <br>
      <strong><em>Integridade Inabalável: </em></strong> Agimos com integridade e ética em todos os aspectos de nossos
      negócios, mantendo a confiança de nossos clientes, parceiros e comunidades.
      <br>
      <strong><em>Empoderamento através da Tecnologia: </em></strong> Acreditamos no poder transformador da tecnologia
      para capacitar empresas e comunidades, impulsionando o progresso e a equidade.
      <br>
      <strong><em>Responsabilidade Social e Ambiental:</em></strong> Comprometemo-nos a agir com responsabilidade social
      e ambiental, contribuindo para um mundo mais sustentável e inclusivo.
      <br>
      Com essa missão, visão e valores, a Youtech se empenha em construir um futuro digital que seja não apenas avançado
      tecnologicamente, mas também impactante e significativo para todos os que tocam nossa jornada.
    </p>

    </p>
  </div>
</div>
{% endblock %}