{% extends 'modelo.html' %}
{% block conteudo %}
<div class="container mt-5">
    <h1 class="mb-4">Vaga de Desenvolvedor Web</h1>
    <hr>
    <form action="/sobrevaga" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12 col-md-8">
                <h3>Cargo</h3>
                <p>{{vaga['cargo_vaga']}}</p>

                <h3>Tipo de Vaga</h3>
                <p>{{vaga["tipo_vaga"]}}</p>

                <h3>Requisitos</h3>
                {{vaga['requisitos_vaga']}}

                <h3>Local</h3>
                <p>{{vaga['local_vaga']}}</p>

                <h3>Salário</h3>
                <p>{{vaga['salario_vaga']}}</p>

                <h3>Email de Contato</h3>
                <p>{{vaga['email_vaga']}}</p>
            </div>
            <div class="col-12 col-md-4">
                <div class="card mb-5">
                    <img src="../static/img/imagens/{{vaga['img_vaga']}}" class="card-img-top"
                        style="width: 100%; height: auto;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{vaga['cargo_vaga']}}</h5>
                        <p class="card-text">{{vaga['desc_vaga']}}<br></p>
                        <p> Envie aqui o seu curriculo com as sua informações. A empresa entrará em cotato se o seu
                            curriculo for selecionado.</p>

                        <div class="input-group m2-3">
                            <div class="form-floating">
                                <input type="file" name="curriculo_vaga" id="curriculo_vaga" accept="image/pdf" required
                                    class="form-control" />
                                <div class="invalid-feedback">Você só pode enviar arquivos em pdf:
                                </div>
                            </div>
                        </div>
                        <div class="botao">
                            <input id='enviarSobre' type="submit" 
                                class="btn btn-outline" value="ENVIAR"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<br>
{% endblock %}